@charset "utf-8";
/* ==================================================
		
		共通CSS

================================================== */
/* --------------------------------------------------
		.clearfix
-------------------------------------------------- */
.clearfix:after {
  height: 0;
  clear: both;
  visibility: hidden;
  display: block;
  content: ".";
}

/* --------------------------------------------------
		main
-------------------------------------------------- */
main { background: #eeeeee; }

/* --------------------------------------------------
		h1
-------------------------------------------------- */
h1 { 
  color: #001030;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
h1 span { 
  font-family: "Noto Serif JP", serif; 
  display: block;
}


/* ==================================================
		
		共通CSS PC

================================================== */
@media screen and (min-width:769px) {
/* --------------------------------------------------
		.spDisp
-------------------------------------------------- */
.spDisp { display: none !important; }
 
/* --------------------------------------------------
		header
-------------------------------------------------- */
.fix header { 
  position: fixed;
  padding-top: 2.9rem;
}
.fix header.trans { background: rgba(255, 255, 255, 0.95); }
.fix header .row .menus { background: rgba(255, 255, 255, 0); }

/* --------------------------------------------------
		main
-------------------------------------------------- */
main { padding: 13rem 0 21.5rem; }

/* --------------------------------------------------
		h1
-------------------------------------------------- */
h1 {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}
h1 span {
  font-size: 2.4rem;
  margin-top: -1.2rem;
}
  
/* --------------------------------------------------
		btn
-------------------------------------------------- */
.btn-vm { margin: 6.5rem auto 0; }
  
}


/* ==================================================
		
		共通CSS SP

================================================== */
@media screen and (max-width:768px) {
/* --------------------------------------------------
		.pcDisp
-------------------------------------------------- */
.pcDisp { display: none !important; }

/* --------------------------------------------------
		.spDisp
-------------------------------------------------- */
.spDisp { display: block !important; }

/* --------------------------------------------------
		body
-------------------------------------------------- */
body { 
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
 
/* --------------------------------------------------
		header
-------------------------------------------------- */
header { background: none; }
.fix header {
  position: fixed;
  left: 0;
  top: 0;
}
.fix header.trans .row { background: rgba(255, 255, 255, 0.95); }
.fix header.open.trans .row { background: transparent; }

/* --------------------------------------------------
		main
-------------------------------------------------- */
main {
  font-size: 2.4rem;
  padding: 20rem 0;
}

/* --------------------------------------------------
		h1
-------------------------------------------------- */
h1 {
  font-size: 5.6rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  line-height: 1.1;
}
h1 span {
  font-size: 2.4rem;
}
  
/* --------------------------------------------------
		btn
-------------------------------------------------- */
.btn-vm { width: 100%; }
.btn {
  width: 90%;
  margin: 4.5rem auto 0; 
}  
 
}

@media (min-width: 769px) and (max-width: 1000px) {
.fix header{ padding: 0; }
  
}